* {
  box-sizing: border-box;
}
@import url(http://allfont.net/allfont.css?fonts=ostrich-sans-light);

.home {
  font-family: 'Ostrich Sans Light', arial;
}

body {
  font-family: sans-serif;
  /* transform: scale3d(0.5, 0.5, 0.5); */
  overflow: hidden;
}

.project-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.cube {
  width: 100vw;
  height: 100vh;
  top: 65px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50vw);
  transition: transform 1s;
}

.cube.show-front {
  transform: translateZ(-50vw) rotateY(0deg);
}
.cube.show-right {
  transform: translateZ(-50vw) rotateY(-90deg);
}
.cube.show-back {
  transform: translateZ(-50vw) rotateY(-180deg);
  left: 225px;
  top: 65px;
}
.cube.show-left {
  transform: translateZ(-50vw) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(-50vh) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-50vh) rotateX(90deg);
}

.cube__face {
  position: absolute;
  width: inherit;
  height: inherit;

  /* height: auto; */
  border: none;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  overflow: auto;
  backface-visibility: hidden;
}

.cube__face--front {
  /* background: hsla(0, 100%, 50%); */
  background-image: url(./images/computer_desk2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}
.cube__face--right {
  background: hsla(60, 100%, 50%);
}
.project-page {
  background: hsla(120, 100%, 50%);
}
.cube__face--back {
  background: hsla(120, 100%, 50%);
}
.cube__face--left {
  background: hsla(180, 100%, 50%);
}
.cube__face--top {
  background: hsla(240, 100%, 50%);
  text-align: left;
}
.cube__face--bottom {
  background: hsla(300, 100%, 50%);
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(50vw);
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(50vw);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(50vw);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(50vw);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(50vh);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(50vh);
}

label {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .cube {
    width: 100vw;
    height: 100vh;
    top: 0px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-50vw);
    transition: transform 1s;
  }
  .cube.show-front {
    transform: translateZ(-50vw) rotateY(0deg);
  }
  .cube.show-right {
    transform: translateZ(-50vw) rotateY(-90deg);
  }
  .cube.show-back {
    transform: translateZ(-50vw) rotateY(-180deg);
    left: 0px;
    top: 0px;
  }
  .cube.show-left {
    transform: translateZ(-50vw) rotateY(90deg);
  }
  .cube.show-top {
    transform: translateZ(-50vh) rotateX(-90deg);
  }
  .cube.show-bottom {
    transform: translateZ(-50vh) rotateX(90deg);
  }
}
